<!-- <h3>My Favorite</h3> -->
    <!-- <div class="card" *ngFor="let item of items">
        <div class="content">
        <span>{{item.image}}</span>
        <span>{{item.name}}</span>
        <span>{{item.price}}</span>
    </div>
    </div> -->

    <!-- <div class="card" *ngFor="let item of fav">
        <div class="content">
        <img src="{{fav.image}}"  alt="" style="width: 150px;height: 150px;margin-top: 14px;margin-left: 25%;">
        <h4 style="margin-left: 8%;">
          {{fav.name}}
        </h4>
        <h5 style="margin-left: 8%;">
         {{fav.price}}
        </h5 >
        <p style="margin-left: 8%;">{{fav.description}}</p>
    </div>
</div> -->