<h3>Cart</h3>
    <h5 style="margin-left: 60%;">  Total : R{{grandTotal}}</h5>
    <div class="card" *ngFor="let item of items">
        <!-- <div class="content"> -->
        <img src="{{item.image}}"  alt="" style="width: 150px;height: 150px;margin-top: 14px;margin-left: 25%;">
        <h4 style="margin-left: 8%;">
          {{item.name}}
        </h4>
        <h5 style="margin-left: 8%;">
         {{item.price}}
        </h5 >
        <button (click)="removeItem(item)" style="height: 50px;width: 50%;background-color: burlywood;border-color: burlywood;margin-left: 25%;"> Remove This Cart</button>
    <!-- </div> -->
</div>

 